.stage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  overflow: hidden;
  border: red 1px solid;

  .inner {
    max-width: 600px;

    img {
      width: 100%;
    }
  }
}

.pre {
  color: red;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  white-space: pre-wrap;
}
